{% extends 'home/squelette.html.twig' %}

{% block title %}Recruteur index
{% endblock %}

{% block main %}
	<section class='espace_recruteur'>
		<h1>Mon espace Recruteur</h1>

		<div class="espace_recruteur_liens">
			<a href="{{ path('job_crud_index')}}">Voir mes annonces</a>
		</div>

		<table class="table">
			<thead class="thead-dark">
				<tr class="recruteur_tr">
					<th>Email</th>
					<th>Nom de l'entreprise</th>
					<th>Secteur d'activité</th>
					<th>&Eacute;diter son compte</th>
				</tr>
			</thead>

			<tbody class="recruteur_body">
				<td>{{ recruteur.email }}</td>
				<td>{{ recruteur.name }}</td>
				<td>{{ recruteur.description }}</td>
				<td>
					<a href="{{ path('crud_recruteur_edit')}}">Modifier</a>
				</td>
			</tbody>
		</table>

	</section>
{% endblock %}



