{% extends 'home/squelette.html.twig' %}

{# {% block title %}Log in!{% endblock %} #}

{% block main %}

	<section class="form_login">


		<form method="post">
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			{% if app.user %}
				<div class="mb-3">
					You are logged in as
					{{ app.user.username }},
					<a href="{{ path('app_logout') }}">Logout</a>
				</div>
			{% endif %}


			<div>
				<h1 class="h3 mb-3 font-weight-normal">Connectez vous</h1>
				<label for="inputEmail">Email</label>
				<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
				<label for="inputPassword">Mot de passe</label>
				<input type="password" name="password" id="inputPassword" class="form-control" required>

				<input
				type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				<div class="btns">

					<button class="btn1 btn-lg btn-primary" type="submit">
						Se connecter
					</button>
					<button class="btn2 btn-lg btn-primary" type="submit">
						<a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié</a>
					</button>
                    <button class="btn2 btn-lg btn-primary" type="submit">
						<a href="{{ path('choice_register') }}">S'inscire</a>
					</button>

					{# <a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié</a>

					<button class="btn2 btn-lg btn-primary" type="submit"> #}
						{# {% if app.user %}

							{% if is_granted('ROLE_RECRUTEUR') %}
								<a href="{{path ('app_register_recruteur')}}">
									S'inscrire</a>
							{% endif %}

							{% if is_granted('ROLE_CANDIDAT') %}
								<a href="{{path ('app_register')}}">
									S'inscrire</a>
							{% endif %}

						{% endif %} #}
					</button>

				</div>
			</div>
		</form>

	</section>
{% endblock %}

