{% extends 'home/squelette.html.twig' %}

{% block main %}
<div class="path_home">
	 <a href="{{ path('home') }}"> 
	 <img src="https://img.icons8.com/material-sharp/24/000000/long-arrow-left.png"/>
	 accueil </a>
</div>

	<div class="container">
		<h1>Page Recruteur</h1>

		<section class="displayRecruteur">
			<h2>Vos informations personnelles</h2></br>
			<p>Nom de l'entreprise : {{recruteur.Name}}</p></br>
			<p>Secteur d'activité : {{recruteur.Description}}</p></br>
			<p>Adresse email : {{recruteur.Email}}</p></br>
		</section>

		<h1>Editer vos données</h1>

		{{ form_start(formulaire3) }}
		{{ form_rest(formulaire3) }}
		<button>Valider</button>
		{{ form_end(formulaire3) }} <br>

			<a href="{{ path('job_crud_index')}}"><h1>Voir vos annonces</h1></a>
	</div>

{% endblock %}
