<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
      

		<title>
			{% block title %}Equaly
			{% endblock %}
		</title>
		{# ci-dessous insert les balises <link> pour le fichier app.css #}
		{{ encore_entry_link_tags('app') }}
		{# ci-dessous insert les balises <script> pour le fichier app.js #}
		{{ encore_entry_script_tags('app') }}

		{# ci-dessous insert les balises <link> pour le fichier candidat.css #}
		{{ encore_entry_link_tags('candidat') }}
		{# ci-dessous insert les balises <script> pour le fichier candidat.js #}
		{{ encore_entry_script_tags('candidat') }}
	</head>

	<body>
		{% block body %}
			<header>
				<div class="header_nav">
					<h4>EQUALY</h4>

					<nav>
						<a href="#">Espace Candidat</a>
						<a href="#">Espace Recruteur</a>
					</nav>
				</div>

				<div class="header_main">
					<h1>CANDIDAT !!!</h1>
					<a href="decouvrez.html">Découvrez nos offres
					</a>
				</div>
			</header>

			{% for message in app.flashes('message_success') %}
				<div class="alert alert-success">{{ message }}</div>
			{% endfor %}

			{# <a href="{{ path('candidat') }}">Se connecter</a> #}

			{{ form_start(formulaire2) }}
			{{ form_rest(formulaire2) }}
			<button>Valider</button>
			{{ form_end(formulaire2) }}

			{# {% dump candidat %}
			{% for document in candidat.documents %}
				{% if loop.first and document.pieceJointe is not null %}
					{{ dump(document) }}
					{#<img src="{{ vich_uploader_asset(document, 'pieceJointe') }}" alt="{{ document.name }}" />#}
				{# {% endif %}
			{% endfor %} #} 

			{#<img src="{{ vich_uploader_asset(product, 'image') }}" alt="{{ product.name }}" />#}

		{% endblock %}
	</body>

</html>