{% extends 'home/squelette.html.twig' %}

{% block main %}


                
                
                {# Verifier si l'utilisateur a deja postulé
                {% if app.user and job.estPostuleParCandidat(app.user)  %}

                {% else %}
                <a href="" class="btn btn-link"> Postulez </a>  
                {% endif %} #}
            

<section class="send">

    {% for flashError in app.flashes('message-error-add') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">{{job.name}}</h5>
                {# Verifier si l'utilisateur a deja postulé #}
                {% if app.user and job.estPostuleParCandidat(app.user)  %}

                {% else %}
                    <a href="{{path('ajouter_favoris',{'id': job.id}) }}" class="btn btn-primary" >
                    <img src="https://img.icons8.com/ios/24/000000/like--v1.png"/> </a>
                 {% endif %}
            </div>

            <div class="btn_send_container">
            {# Verifier si l'utilisateur a deja postulé #}
             {% if app.user and job.estPostuleParCandidat(app.user)  %}

                {% else %}
                <a href="{{ path('job_postuler',{'id':job.id})  }}" class="btn_send btn-link"> Postulez </a>  
                {% endif %}
            </div>

            <div class="modal-body">

                <p>{{ job.description }}</p>
                <p>Date de prise de poste {{ job.jobStartDate ? job.jobStartDate|date('Y-m-d') : '' }}</p>
                <small>Publié le {{ job.datePublished ? job.datePublished|date('Y-m-d') : '' }}</small>
            </div>
            <div class="modal-footer">
                
                
                
                
            </div>
            </div>
        </div>
    </div>


{% endblock %}
