{% extends 'home/squelette.html.twig' %}

{% block main%}
{% if items | length > 0 %}
<div class="container">
    <h1> Vos coups de coeur </h1>
    {% for item in items %}
    <div class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ item.job.name }}</h5>
            </div>
            <div class="modal-body">
                <p>{{ item.job.description }}</p>
                <small>{{ item.job.id }}</small>
            </div>
            <div class="modal-footer">
                <a href="{{path('remove_favoris', {'id':item.job.id})}}" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Supprimez</a>
                <button type="button" class="btn btn-primary">Postulez </button>
                
            </div>
            </div>
        </div>
    </div>
        {% endfor %}
  </div>  

    {% else %}
    <p> Il n'y a rien pour le moment</p>
    <p> <a href="{{'path('job_postuler',{'id': job.id})'}}">Allez voir plus d'offres</a> </p>

    {% endif %}



{% endblock %}