{% extends 'home/squelette.html.twig' %}

{% block main %}

	<div class="container">
<div class="path_home">
	 <a href="{{ path('home') }}"> 
	 <img src="https://img.icons8.com/material-sharp/24/000000/long-arrow-left.png"/>
	 Retour </a>
</div>

		<section class="displayCandidat">
			<h2></h2></br>
			<p>Prénom : {{candidat.FirstName}}</p></br>
			<p>Nom : {{candidat.LastName}}</p></br>
			<p>Education : {{candidat.Education}}</p></br>
			<p>Expérience : {{candidat.Experience}}</p></br>
			<p>Votre description : {{candidat.DescriptionCandidat}}</p></br>
			{% dump candidat.documents %}
		</section>

	</div>
	

{% endblock %}