{% extends 'home/squelette.html.twig' %}

{% block main %}

	{% for message in app.flashes('message_success') %}
		<div class="alert alert-success">{{ message }}</div>
	{% endfor %}

	<a href="{{ path('app_register') }}">Register</a></br>
			
	<a href="{{ path('app_login') }}">Sign in</a></br>

	<a href="{{ path('candidat') }}">Mon espace candidat</a></br>

	<a href="{{ path('recruteur') }}">Mon espace recruteur</a>


    <div id="blog"> blog avec react</div>

{% endblock %}
