{% extends 'home/squelette.html.twig' %}

{% block main %}

	{# {% for message in app.flashes('message_success') %}
												<div class="alert alert-success">{{ message }}</div>
											{% endfor %} #}

	{# <a href="{{ path('app_register') }}">Register</a></br>
													
											<a href="{{ path('app_login') }}">Sign in</a></br>
										
											<a href="{{ path('candidat') }}">Mon espace candidat</a></br>
										
											<a href="{{ path('recruteur') }}">Mon espace recruteur</a>
										
										
										    <div id="blog"> blog avec react</div> #}

		<div class="header_main"> <div class="title">
			<h1>Chez
				<span class="title_span">
					Equaly
				</span>,<br>
				votre handicap <br> est
					<span class="line-through">
						un poids
					</span>
			
			</h1>
			<img class="force" src="./imgs/votre_force.svg" alt="">
			<a class="main_btn" href="{{ path('offres') }}">Découvrez nos offres</a>

			<div class="social">
				<a href="https://twitter.com/?lang=fr">
					<img src="https://img.icons8.com/android/24/000000/twitter.png"/></a>

				<a href="https://fr-fr.facebook.com/">
					<img src="https://img.icons8.com/material-sharp/24/000000/facebook-new.png"/></a>

				<a href="https://www.instagram.com/?hl=fr">
					<img src="https://img.icons8.com/material-rounded/24/000000/instagram-new.png"/></a>

			</div>
		</div>

		<div class="main_img">
			<img src="./imgs/main.svg" alt="">
		</div>

	</div>


	{# Concept #}
	<section class="section">
		<h3>Notre Concept</h3>
		<div class="articles">
			<article>
				<img src="./imgs/article1.svg" alt="">
				<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas assumenda sed ipsum, optio quos quod repellat sunt nobis nam commodi?
														Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas assumenda sed ipsum, optio quos quod repellat sunt nobis nam commodi?</p>
			</article>
			<article>
				<img src="./imgs/article2.svg" alt="">
				<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas assumenda sed ipsum, optio quos quod repellat sunt nobis nam commodi?
														Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas assumenda sed ipsum, optio quos quod repellat sunt nobis nam commodi?</p>
			</article>
			<article>
				<img src="./imgs/article3.svg" alt="">
				<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas assumenda sed ipsum, optio quos quod repellat sunt nobis nam commodi?
														Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas assumenda sed ipsum, optio quos quod repellat sunt nobis nam commodi?</p>
			</article>
		</div>
	</section>


	{# Startups #}
	<section class="startups">
		<p>
			100+ entreprises nous font confiance
		</p>
		<div class="startup_logo" id="startup_animation">
			<img src="https://img.icons8.com/wired/128/000000/starbucks.png"/>
			<img src="https://img.icons8.com/windows/128/000000/mcdonalds.png"/>
			<img src="https://img.icons8.com/ios-filled/150/000000/ikea.png"/>
			<img src="https://img.icons8.com/windows/128/000000/huawei-logo.png"/>
			<img src="https://img.icons8.com/metro/104/000000/wordpress.png"/>
			<img src="https://img.icons8.com/wired/128/000000/disney-plus.png"/>
			<img src="https://img.icons8.com/windows/128/000000/huawei-logo.png"/>
			<img src="https://img.icons8.com/metro/104/000000/mac-os.png"/>
			<img src="https://img.icons8.com/windows/128/000000/huawei-logo.png"/>


		</div>
	</section>

	{####################### BLOG ####################}
	<section class="blog_section">
		<h3>La vie au travail</h3>
		<div class="articles_blog">
			<div class="articles_blog_first">


				<article class="img_articles_blog_first">
					<img src="./imgs/r1.png" alt="">
				</article>

				<section class="articles_blog_imgs">
					<article>
						<img src="./imgs/r2.png" alt="">
						<p>Lorem ipsum dolor sit.</p>
					</article>

					<article>
						<img src="./imgs/r3.png" alt="">
						<p>Lorem ipsum dolor sit.</p>
					</article>

					<article>
						<img src="./imgs/r4.png" alt="">
						<p>Lorem ipsum dolor sit.</p>
					</article>
				</section>


				<button class="blog_btn">
					<a href="{{path ('blog')}}">Découvrez plus d'articles</a>
				</button>
			</div>

			<div class="articles_blog_aside">


				<div class="a">
					<span class="blog_span">1</span>
					<div>
						<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
						</p>
						<p class="fig">18 Mars 2021</p>
					</div>
				</div>

				<div class="a">
					<span class="blog_span">2</span>
					<div>
						<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
						<p class="fig">18 Mars 2021</p>
					</div>
				</div>

				<div class="a">
					<span class="blog_span">3</span>
					<div>
						<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
						</p>
						<p class="fig">18 Mars 2021</p>
					</div>
				</div>

				<div class="a">
					<span class="blog_span">4</span>
					<div>
						<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
						<p class="fig">18 Mars 2021</p>
					</div>
				</div>


				<div class="a">
					<span class="blog_span">5</span>
					<div>
						<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
						</p>
						<p class="fig">18 Mars 2021</p>
					</div>
				</div>

			</div>
		</section>

		{####################### Etapes ##################}

		<section class="etapes_section">
			<div class="etapes_title">
				<h3>Notre fonctionnement en 3 étapes</h3>
			</div>

			<div class="etapes_articles">

				<div class="number">
					<p>1</p>
					<p>2</p>
					<p>3</p>
				</div>

				<div class="etapes_text">
					<article>
						<h5>Crée ton profil</h5>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum error in numquam.</p>
					</article>
					<article>
						<h5>Commence la recherche</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius pariatur cupiditate non!</p>

					</article>
					<article>
						<h5>Postule aux offres</h5>
						<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod ipsum adipisci possimus.</p>

					</article>
				</div>

				<div class="contact_img">
					<img src="./imgs/etapes.png" alt="">
				</div>

			</div>


		</section>

		{####################### FOOTER##################}

		<section class="title"></section>
	{% endblock %}
