<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link
		href="https://fonts.googleapis.com/css2?family=Spectral:wght@200;400;600&display=swap" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@600;700&display=swap" rel="stylesheet">
		{{ encore_entry_link_tags('app') }}
		{# ci-dessous insert les balises <script> pour le fichier app.js #}
		{{ encore_entry_script_tags('app') }}

{# Politique d'utilisation de cookie #}
<link rel="stylesheet" type="text/css" href="https://cdn.wpcc.io/lib/1.0.2/cookieconsent.min.css"/>
<script src="https://cdn.wpcc.io/lib/1.0.2/cookieconsent.min.js" defer></script><script>window.addEventListener("load", function(){window.wpcc.init({"border":"thin","corners":"small","colors":{"popup":{"background":"#f0edff","text":"#000000","border":"#5e65c2"},"button":{"background":"#5e65c2","text":"#ffffff"}},"position":"top","fontsize":"large","content":{"href":"https://","message":"Equaly recueille les informations relatives à votre visite en utilisant des cookies pour améliorer la performance du site, faciliter les partages sur les réseaux sociaux et offrir des publicités adaptées à vos centres d’intérêt. En continuant à naviguer sur notre site, vous consentez à l’utilisation de ces cookies. Pour plus d’informations, consultez notre Politique de confidentialité et en matière de cookies. Vous pouvez configurer vos préférences dans les Paramètres de cookies.","link":"Plus d'info","button":"J'ai compris !"}})});</script>

		<title>
			{% block title %}Equaly {% endblock %}
			
		</title>
	</head>
	<body>


		<header>
			{% block header %}

				<div class="header_nav">


					<h4>
						<a href="{{ path('home') }}">Equaly</a>
					</h4>


					{# <div>
																	<i class="fas fa-search"></i>
																	<input class="input_search_nav" type="text">
																</div> #}


					<nav
						class="nav">
						{# <a href="{{ path('home') }}">Accueil</a> #}
						<a href="#">A propos</a>
						<a href="{{path ('blog')}}">Blog</a>


						{% if app.user %}


							{% if is_granted('ROLE_RECRUTEUR') %}
								<a href="{{path ('crud_recruteur_index')}}">
									Mon espace personnel</a>
							{% endif %}

							{% if is_granted('ROLE_CANDIDAT') %}
								<a href="{{path ('crud_candidat_index')}}">
									Mon espace personnel</a>
							{% endif %}


							<a href="{{ path('app_logout') }}">Se déconnecter</a>
						{% else %}
							 {# user is not logged in #}
							<a href="{{ path('app_login') }}">Se connecter</a>
							<a href="{{ path('choice_register') }}">S'inscrire</a>
						{% endif %}

					</nav>

					<div class="icons">
						<i class="far fa-eye-slash"></i>
						<i class="fas fa-deaf"></i>
					</div>
				</div>


			{% endblock %}
		</header>

		<main>
			{% block main %}{% endblock %}
			{% block body %}{% endblock %}
		</main>

		<footer>
			<div class="container_footer">

				<div class="newsletter">
					<h4> On reste en contact ?</h4>
					<input placeholder="mail@mail.com" type="text">
				</div>

				<section class="footer_text">
					<div>
						<p>
							 <b> Ou nous trouver ? </b></p>
						<p>
							7 rue de la liberte,
							<br>
							75010 Paris</p>
					</div>

					<div>
						<p>
							Mentions légales
						</p>
						<p>
							CGU
						</p>
					</div>

					<div>
						<p>
							mail: contact@equaly.fr</p>
						<p>
							+33 01677543890</p>
					</div>
				</section>


			</div>

			<div class="copyright">
			<p> 2021 Equaly- Team Benetton</p>
			</div>
		</footer>
	</body>
</html></body></html>
