<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link
		rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
		<link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Spectral:wght@200;400;600&display=swap" rel="stylesheet">

		{# ci-dessous insert les balises <link> pour le fichier app.css #}
		{{ encore_entry_link_tags('app') }}
		{# ci-dessous insert les balises <script> pour le fichier app.js #}
		{{ encore_entry_script_tags('app') }}


		<title>
			{% block title %}Equaly
			{% endblock %}
		</title>
	</head>
	<body>


		<header>
			{% block header %}

				<div class="header_nav">
					
				
					<h4><a href="{{ path('home') }}">EQUALY</a></h4>
					


						{# <div>
							<i class="fas fa-search"></i>
							<input class="input_search_nav" type="text">
						</div> #}
				
					

					<nav class="nav">
						{# <a href="{{ path('home') }}">Accueil</a> #}
						<a href="#">A propos</a>
						<a href="{{path ('blog')}}">Blog</a>
						

						{% if app.user %}


						{% if is_granted('ROLE_RECRUTEUR') %} 
							<a href="{{path ('recruteur')}}"> Mon espace personnel</a>
						{% endif %}

						{% if is_granted('ROLE_CANDIDAT') %} 
							<a href="{{path ('candidat')}}"> Mon espace personnel</a>
						{% endif %}
						



						<a href="{{ path('app_logout') }}">Se déconnecter</a>
						{% else %}
							 {# user is not logged in #}
							<a href="{{ path('app_login') }}">Se connecter</a>
							<a href="{{ path('choice_register') }}">S'inscrire</a>
						{% endif %}
				
					</nav>

						<div class="icons">
							<i class="far fa-eye-slash"></i>
							<i class="fas fa-deaf"></i>
						</div>
				</div>
				

			{% endblock %}
		</header>

		<main>
			{% block main %}{% endblock %}
		</main>

		<footer>
			<div class="container">
				<p>
					Footer
				</p>
				
			</div>
		</footer</body>
	</body>
</html>
