{% extends 'home/squelette.html.twig' %}

{% block title %}Candidat index{% endblock %}

{% block main %}

<section class="espace_candidat">
    <h1>Mon Espace Candidat</h1>

<div class="espace_candidat_liens">
    <a href="{{path ('favoris')}}" >Annonces coups de coeur &#9829;</a>
    <a href="{{path ('postuler')}}" >Liste des offres postulés</a>
 </div>   
    <table class="table">
        <thead class="thead-dark">
            <tr class="candidat_tr">
                <th scope="col">Email</th>
                <th scope="col">FirstName</th>
                <th scope="col">LastName</th>
                <th scope="col">CreateAt</th>
                <th scope="col">Education</th>
                <th scope="col">Experience</th>
                <th scope="col">DescriptionCandidat</th>
                <th scope="col">actions</th>
            </tr>
        </thead>

        
        <tbody class="candidat_body">
            
                <td>{{ candidat.email }}</td>
                <td>{{ candidat.firstName }}</td>
                <td>{{ candidat.lastName }}</td>
                <td>{{ candidat.createAt ? candidat.createAt|date('Y-m-d') : '' }}</td>
                <td>{{ candidat.education }}</td>
                <td>{{ candidat.experience }}</td>
                <td>{{ candidat.descriptionCandidat }}</td>
          

            <td>
                    {% for document in candidat.documents %}

                        {% if document.pieceJointe is not null %}
                            {{ document.name }}

                            {% if document.name == 'photo' %}
                                <img src="{{ (vich_uploader_asset (document, 'pieceJointeFile' ) ) }}" alt="{{ document.name }}"/>
                            {% else %}
                                <a download href="{{ (vich_uploader_asset (document, 'pieceJointeFile' ) ) }}" alt="{{ document.name }}">Télécharger</a>
                                <embed src="{{ (vich_uploader_asset (document, 'pieceJointeFile' ) ) }}" alt="{{ document.name }}" width="500" height="375" type="application/pdf"/>
                            {% endif %}

                        {% endif %}

                    {% endfor %}
                </td>

                <td>
                    <a href="{{ path('crud_candidat_edit') }}">Edit</a>
                </td>
            </tr>

        </tbody>
    </table>

    </section>
{% endblock %}
