{% extends 'home/squelette.html.twig' %}

{% block title %}Mon profil
{% endblock %}

{% block main %}
	<div class="path_home">
		<a href="{{ path('home') }}">
			<img src="https://img.icons8.com/material-sharp/24/000000/long-arrow-left.png"/>
			accueil
		</a>
	</div>

	<section class="espace_candidat">
		<h1>Mon Espace Candidat</h1>

		<div class="espace_candidat_liens">
			<a href="{{path ('favoris')}}">Annonces coups de coeur &#9829;</a>
			<a href="{{path ('postuler')}}">Liste de mes candidatures</a>
		</div>
		<table class="table">

			<thead class="thead-dark">
				<tr class="candidat_tr">
					<th scope="col">Email</th>
					<th scope="col">Prénom</th>
					<th scope="col">Nom</th>
					{# <th scope="col">CreateAt</th> #}
					<th scope="col">Parcours scolaire</th>
					<th scope="col">Experience</th>
					<th scope="col">Ma description</th>
					<th scope="col">Editer</th>
					
				</tr>
			</thead>


			<tbody class="candidat_body">

				<td>{{ candidat.email }}</td>
				<td>{{ candidat.firstName }}</td>
				<td>{{ candidat.lastName }}</td>
				{# <td>{{ candidat.createAt ? candidat.createAt|date('Y-m-d') : '' }}</td> #}
				<td>{{ candidat.education }}</td>
				<td>{{ candidat.experience }}</td>
				<td>{{ candidat.descriptionCandidat }}</td>
				<td>
					<a href="{{ path('crud_candidat_edit') }}">
						<i class="fas fa-pencil-alt"></i>
					</a>
				</td>
			</tbody>
		</tr>

	</tbody>
</table>
<div class="center_documents">
	{% for document in candidat.documents %}

		{% if document.pieceJointe is not null %}
			{{ document.name }}

			{% if document.name == 'photo' %}
				<img src="{{ (vich_uploader_asset (document, 'pieceJointeFile' ) ) }}" alt="{{ document.name }}"/>
			{% else %}
				<a download href="{{ (vich_uploader_asset (document, 'pieceJointeFile' ) ) }}" alt="{{ document.name }}">Télécharger</a>
				<embed src="{{ (vich_uploader_asset (document, 'pieceJointeFile' ) ) }}" alt="{{ document.name }}" width="500" height="375" type="application/pdf"/>
			{% endif %}

		{% endif %}

	{% endfor %}

</div></section>{% endblock %}

