{% extends 'home/squelette.html.twig' %}

{% block title %}Modifier des offres{% endblock %}

{% block main %}

	<section class="espace_offres">
		<h1>Vos annonces</h1>

		<div class="espace_offres_liens">
			<a href="{{ path('job_crud_new') }}">Nouveau poste
				<i class="fas fa-plus"></i>
			</a>
		</div>
		<table class="table">
			<thead class="thead-dark">
				<tr class="offres_tr">
					<th scope="col">Domaine</th>
					<th scope="col">Intitulé du poste</th>
					<th scope="col">Description</th>
					{# <th scope="col">CreateAt</th> #}
					<th scope="col">Date de publication</th>
					<th scope="col">Date de prise de fonction</th>
				</tr>
			</thead>
			<tbody class="offres_body">
				{% for job in jobs %}
					<tr>
						<td>{{ job.code }}</td>
						<td>{{ job.name }}</td>
						<td>{{ job.description }}</td>
						<td>{{ job.datePublished ? job.datePublished|date('Y-m-d') : '' }}</td>
						<td>{{ job.jobStartDate ? job.jobStartDate|date('Y-m-d') : '' }}</td>
						<td>
							<span class="postuler-js">
								<a href="{{path('candidat_postuler',{'id': job.id})}}">{{ job.postulers | length }}</a>
							</span>
							<p>profils</p>
						</td>
						<td>
							<a href="{{ path('job_crud_edit', {'id': job.id}) }}">
								<i class="fas fa-pencil-alt"></i>
							</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="7">Aucune annonce</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</section>


{% endblock %}



