{% extends 'home/squelette.html.twig' %}

{% block title %}Job index{% endblock %}

{% block main %}
    <h1>Vos annonces</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Domaine</th>
                <th>Intitulé du poste</th>
                <th>Description</th>
                <th>Date de publication</th>
                <th>Date de prise de fonction</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for job in jobs %}
            <tr>
                <td>{{ job.code }}</td>
                <td>{{ job.name }}</td>
                <td>{{ job.description }}</td>
                <td>{{ job.datePublished ? job.datePublished|date('Y-m-d') : '' }}</td>
                <td>{{ job.jobStartDate ? job.jobStartDate|date('Y-m-d') : '' }}</td>
                <td><span class="postuler-js">{{job.postulers | length}}</span> <p>profils</p></td>
                <td>
                    <a href="{{ path('job_crud_show', {'id': job.id}) }}">voir /</a>
                    <a href="{{ path('job_crud_edit', {'id': job.id}) }}">éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('job_crud_new') }}">Création d'un nouveau poste</a>
{% endblock %}


