{% extends 'home/squelette.html.twig' %}

{% block title %}Job index{% endblock %}

{% block main %}
    <h1>Job index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Name</th>
                <th>Description</th>
                <th>DatePublished</th>
                <th>JobStartDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for job in jobs %}
            <tr>
                <td>{{ job.id }}</td>
                <td>{{ job.code }}</td>
                <td>{{ job.name }}</td>
                <td>{{ job.description }}</td>
                <td>{{ job.datePublished ? job.datePublished|date('Y-m-d') : '' }}</td>
                <td>{{ job.jobStartDate ? job.jobStartDate|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('job_crud_show', {'id': job.id}) }}">show</a>
                    <a href="{{ path('job_crud_edit', {'id': job.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('job_crud_new') }}">Create new</a>
{% endblock %}
