{% extends 'home/squelette.html.twig' %}

{% block title %}Register
{% endblock %}

{% block main %}
	{% for flashError in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}

	<section class="form_create_candidat">

		<h1>Création de compte</h1>

		{{ form_start(registrationForm) }}

        <div class="c1">

        {{ form_row(registrationForm.lastName, {
            label: 'Nom '
        }) }}

        </div>
        <div class="c2">
        {{ form_row(registrationForm.firstName, {
            label: 'Prénom '
        }) }}
        </div>

        <div class="c3">

		{{ form_row(registrationForm.email, {
            label: 'Email '
        }) }}
        </div>
        <div class="c4">

		{{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe '
        }) }}
        </div>
        <div class="c5">

		{{ form_row(registrationForm.agreeTerms, {
            label: 'Conditions'
        }) }}
        </div>


		<button type="submit" class="btn">Enregistrez vous</button>
		{{ form_end(registrationForm) }}


	</section>

{% endblock %}
